<div class="container">
<form [formGroup]="registrationForm">
  <div class="form-group">
  <mat-form-field class="full-width" appearance="standard">
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" type="text" matInput placeholder="First Name" autocomplete="off">
    
  </mat-form-field>

  <div *ngIf="registrationForm.get('firstName').invalid && registrationForm.get('firstName').touched">
    <small class="text-danger" *ngIf="registrationForm.get('firstName').errors?.required"> First Name Required</small>
    <small class="text-danger" *ngIf="registrationForm.get('firstName').errors?.minlength"> First Name should be minimum 3 letters</small>
    </div>

  <mat-form-field class="full-width" appearance="standard">
    <mat-label>Last Name</mat-label>
    <input formControlName= "lastName" type="text" matInput placeholder="Last Name" autocomplete="off">
  </mat-form-field>
  <div *ngIf="registrationForm.get('lastName').invalid && registrationForm.get('lastName').touched">
    <small class="text-danger" *ngIf="registrationForm.get('lastName').errors?.required"> Last Name Required</small>
    </div>
</div>
  <button mat-raised-button color="primary" type="submit" (click)="reviewForm()" [disabled]="registrationForm.invalid" >Review</button>
</form>
</div>




