<div class="container">
  <div class="jumbotron">
    <h1>Angular Form</h1>
  </div>
  <div class="footer">
    <p>Note: This is a simple Angular rective form</p>
  </div>
</div>
<router-outlet></router-outlet>