<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="goSubmit()">
    <div class="form-group">
      <p>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>First Name</mat-label>
          <input formControlName= "firstName" type="text" matInput placeholder="First Name" readonly>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Last Name</mat-label>
          <input formControlName= "lastName" type="text" matInput placeholder="Last Name" readonly>
        </mat-form-field>
      </p>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="reviewForm()">
                Edit
              </button>
      <button mat-raised-button color="primary" type="submit">
                Submit
              </button>

    </div>

  </form>
</div>